/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4062087 */
  src: url('//at.alicdn.com/t/c/font_4062087_p7eaast4qp.woff2?t=1683798411008') format('woff2'),
       url('//at.alicdn.com/t/c/font_4062087_p7eaast4qp.woff?t=1683798411008') format('woff'),
       url('//at.alicdn.com/t/c/font_4062087_p7eaast4qp.ttf?t=1683798411008') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }